<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{componentes/header::header-section(titulo='Inicio')}">
</head>

<body>
<div th:replace="~{componentes/nav::nav-section}">
</div>

<div class="container">
    <div class="container text-center" style="margin:30px">
        <h3>Sistema de Contactos</h3>
    </div>

    <div class="container">
        <table class="table table-striped table-hover align-middle table-border">
            <thead class="table-dark">
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Nombre</th>
                <th scope="col">Celular</th>
                <th scope="col">Email</th>
                <th scope="col">Accion</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="contacto: ${contactos}">
                <th th:text="${contacto.idContacto}" scope="row"></th>
                <td th:text="${contacto.nombre}"></td>
                <td th:text="${contacto.celular}"></td>
                <td th:text="${contacto.email}"></td>
                <td class="d-flex justify-content-center gap-3">
                    <a th:href="@{/editar/{id}(id=${contacto.idContacto})}" class="btn btn-outline-warning btn-sm">
                        Modificar
                    </a>

                    <a th:href="@{/eliminar?id=(${contacto.idContacto})}" class="btn btn-outline-danger btn-sm">
                        Eliminar
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

</body>
</html>